* {
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
}

.search-name {
    text-decoration: none;
    color: #995033;
    font-weight: 700;
}

.search-name:hover {
    text-decoration: none;
}